.grid{
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 200px;
    width: 200px;
    border: solid black 1px;
    background-color: #febaee;
}


.mole{
    background-image: url('donut.gif');
    background-size: cover;
}

body{
    background-image: url("candy.jpg");
    background-size: cover;
}